{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Common title for all -->
    <title> Chat - {% block title %} {% endblock title %} </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- jQuery cdn link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- For Icons -->
    <script src="https://kit.fontawesome.com/d68d9ccc97.js" crossorigin="anonymous"></script>

    <!-- My Files -->
    <link rel="stylesheet" href="{% static 'chatapp/design.css' %}">

  </head>

  {% block page %}

  <body>
  
  <nav class="navbar navbar-light bg-light sticky-top border-bottom border-primary shadow-sm ">
    <!-- Navbar content -->
    <a class="navbar-brand" href="{% url 'Home' %}" >
      <img src ="{% static 'chatapp/logo.png' %}" alt="logo" style="width: 50px;" class="mr-2"> Chat
    </a>
 


      <div class="navbar mr-2">

      {% if user.is_authenticated %}
      <div class="profile mr-2">
        <img src="{{ user.profile.image.url }}" alt="Profile" class="profile">
      </div>
        <a href="{% url 'Profile' %}" class="nav-item border-bottom mr-4 lead" style="text-decoration: none;" >
        {{ user.username }}
        </a>

        <a href="{% url 'Logout' %}" class="nav-item" >
            <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
        </a>
      {% else %}

        <a href="{% url 'Signup' %}" class="nav-item">
          <button type="button" class="btn bor-grad mr-2">Signup</button>
        </a>
        
        <a href="{% url 'Login' %}" class="nav-item">
          <button type="button" class="btn bor-grad">Login</button>
        </a>

      {% endif %}

      </div>

  </nav>

  <!-- Give alerts to user-->
  {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} m-2">
            {{ message }}
        </div>
      {% endfor %}
  {% endif %}

    {% block body %}

    {% endblock body %}

    {% block js %}
    {% endblock js %}



    <!-- Optional JavaScript -->
    <!-- jQuery loaded first, now Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
  {% endblock page %}
</html>
