{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">

        {% if title %}
            <title>Chat - {{ title }} </title>
        {% else %}
            <title>Chat</title>
        {% endif %}

        <!-- Link to W3.css File -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 

        <!-- Link for Icons -->
        <script src="https://kit.fontawesome.com/d68d9ccc97.js" crossorigin="anonymous"></script>

        <!-- Link to Customized css -->
        <link rel="stylesheet" type="text/css" href="{% static 'chat/css/custom.css' %}">

        <!-- Dummy image -->
        <link rel="image" href="{% static 'chat/img/dummy.jpg' %}">
        
    </head>
    <body>
        
        {% block content %}

        {% endblock content %}

    </body>
</html>